<!-- HERO -->
<div class="hero">
  <div class="hero-left">
    <%= image_tag "Northwestern_University_seal.svg.png",
                  class: "hero-logo",
                  alt: "NU Shield" %>
    <div class="hero-text">
      <h1>Photo Quiz</h1>
      <p>Northwestern University Edition</p>
    </div>
  </div>

  <div class="hero-links">
    <%= link_to 'Directory', students_path, class: 'btn btn-outline-light' %>
    <%= link_to 'Quiz',      quizzes_path,  class: 'btn btn-outline-light' %>
  </div>
</div>