<h1>New Student Created</h1>

<p>
  <strong><%= @student.first_name %> <%= @student.last_name %></strong> has been successfully added to your course:
</p>

<p>
  <strong><%= @course.name %></strong>
</p>

<p>
  You can now view their profile and start quizzing yourself on their details.
</p>

<p> Sincerely, </p>
<p>
  The Photo Quiz Team
</p>
