<div class="homepage-container">
  <h1 class="homepage-title">Welcome to Photo Quiz</h1>
  <p class="homepage-description">
    Professors can create quizzes and manage students using unique course codes.
    Students can join courses using a professor's course code, and allow their professor to use Photo Quiz to learn more about them.
  </p>
  <div class="homepage-buttons">
    <button class="btn btn-nu" onclick="location.href='/professors/new'">I am a Professor</button>
    <button class="btn btn-nu-secondary" onclick="location.href='/students/new'">I am a Student</button>
  </div>
</div>
