<div class="homepage-container">
  <h1 class="homepage-title">Welcome to Photo Quiz</h1>
  <p class="homepage-description">
    A platform for professors to create engaging quizzes and for students to learn interactively.
  </p>
  <div class="homepage-buttons">
    <button class="btn btn-nu" onclick="location.href='/students'">I am a Professor</button>
    <button class="btn btn-nu-secondary" onclick="location.href='/students/new'">I am a Student</button>
  </div>
  <div class="homepage-description mt-4">
    <p>Professors can add students using a unique code and create quizzes with photos and names.</p>
    <p>Students can participate in quizzes and track their learning progress.</p>
  </div>
</div>