<div class="course-container">
  <div class="login-card">
    <h1 class="login-title text-center">Edit Course</h1>
    <br/>

    <%= render "form", course: @course %>

    <div class="form-actions mt-2 text-start">
      <%= link_to "Back to Directory", students_path, class: "me-3" %>
    </div>
  </div>
</div>